---
title: Documentation
description: Navigate to all documentation for this design system from here.
layout: layouts/default.njk
---

<article class="cmp-container cmp-stack">
  <h1>
    Documentation
  </h1>

  <ul class="util-no-list-style cmp-stack" style="--stack-space: 0.5rem">
    {%- for doc in collections.docs -%}
      <li>
        <a href="{{ doc.url }}">
          {{ doc.data.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</article>
