.util-justify-between {
  justify-content: space-between !important;
}

.util-no-list-style {
  list-style: none;
  padding-inline-start: 0;
}

.util-font-italic {
  font-style: italic;
}

.util-size-xs {
  font-size: var(--font-size-xs);
}

.util-size-sm {
  font-size: var(--font-size-sm);
}

.util-size-md {
  font-size: var(--font-size-md);
}

.util-size-lg {
  font-size: var(--font-size-lg);
}

.util-size-xl {
  font-size: var(--font-size-xl);
}

.util-size-xxl {
  font-size: var(--font-size-xxl);
}

.util-size-xxxl {
  font-size: var(--font-size-xxxl);
}

.util-margin-inline-auto {
  margin-inline: auto;
}
