.cmp-cluster {
  --cluster-space: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-space, 1rem);
  justify-content: flex-start;
  align-items: center;

  &--between {
    justify-content: space-between;
  }
}
