.cmp-container {
  --container-gutter: 1rem;
  --container-max-width: var(--default-max-width);

  width: calc(100% - (var(--container-gutter) * 2));
  max-width: var(--container-max-width);
  margin-inline: auto;
}
