$white: #ffffff;
$black: #000000;


$gray-10: #f5f7fa; // contrast with $black
$gray-20: #ebeff5;
$gray-30: #dde3ed;
$gray-40: #c8d1e0;
$gray-50: #afbacc;
$gray-60: #8e99ab;
$gray-70: #707a8a;
$gray-80: #58606e; // contrast with $white
$gray-90: #434a54;
$gray-100: #333840;


$blue-10: #f0f5fc; // contrast with $black
$blue-20: #cfe0fc;
$blue-30: #accbfc;
$blue-40: #84b1fa;
$blue-50: #5691f0;
$blue-60: #3272d9; // contrast with $white
$blue-70: #1d5bbf;
$blue-80: #114599;
$blue-90: #103579;
$blue-100: #15233b;

$bronze-10: #fcf2e6; // contrast with $black
$bronze-20: #fad8af;
$bronze-30: #f5bc76;
$bronze-40: #e89c3f;
$bronze-50: #cf7911;
$bronze-60: #ad5f00; // contrast with $white
$bronze-70: #8a4d03;
$bronze-80: #8a4d03;
$bronze-90: #693d07;
$bronze-100: #33210c;

$green-10: #e1faeb; // contrast with $black
$green-20: #8ef5b7;
$green-30: #46e385;
$green-40: #1ec963;
$green-50: #0aa64b;
$green-60: #038537; // contrast with $white
$green-70: #056b2e;
$green-80: #075426;
$green-90: #09401f;
$green-100: #0a2e18;

$teal-10: #d7faf8; // contrast with $black
$teal-20: #83f2eb;
$teal-30: #43ded3;
$teal-40: #21c2b7;
$teal-50: #0ea197;
$teal-60: #08827a; // contrast with $white
$teal-70: #086962;
$teal-80: #09524d;
$teal-90: #0a3d3a;
$teal-100: #0a2b29;

$sky-10: #e8f4fa; // contrast with $black
$sky-20: #bbe5fa;
$sky-30: #8dd4f7;
$sky-40: #53baed;
$sky-50: #229ad6;
$sky-60: #0c7bb3; // contrast with $white
$sky-70: #066391;
$sky-80: #064d70;
$sky-90: #093952;
$sky-100: #0c2938;

$slate-10: #edf4f7; // contrast with $black
$slate-20: #cbe3f5;
$slate-30: #a7ceeb;
$slate-40: #84b7db;
$slate-50: #5e95bd;
$slate-60: #48799c; // contrast with $white
$slate-70: #376180;
$slate-80: #2d4d63;
$slate-90: #243947;
$slate-100: #1d2830;

$indigo-10: #f2f2fc; // contrast with $black
$indigo-20: #dcdcfc;
$indigo-30: #c2c2fc;
$indigo-40: #a7a7fa;
$indigo-50: #8585f2;
$indigo-60: #6767e6; // contrast with $white
$indigo-70: #4d4dd1;
$indigo-80: #3737b3;
$indigo-90: #28288a;
$indigo-100: #202057;

$dusk-10: #f4f2f7; // contrast with $black
$dusk-20: #e3dcf7;
$dusk-30: #cec2f0;
$dusk-40: #b5a6e3;
$dusk-50: #9886cf;
$dusk-60: #7a6bb3; // contrast with $white
$dusk-70: #645396;
$dusk-80: #4f4178;
$dusk-90: #3a3154;
$dusk-100: #282436;

$purple-10: #f5f0fa; // contrast with $black
$purple-20: #ead9fa;
$purple-30: #da8cf7;
$purple-40: #c798f2;
$purple-50: #ae74e8;
$purple-60: #9656d6; // contrast with $white
$purple-70: #7d3cbd;
$purple-80: #64289e;
$purple-90: #4b2175;
$purple-100: #371c52;

$magenta-10: #faf0f4; // contrast with $black
$magenta-20: #fad4e4;
$magenta-30: #fab4d1;
$magenta-40: #f78bb8;
$magenta-50: #ed5393;
$magenta-60: #d6246e; // contrast with $white
$magenta-70: #b01355;
$magenta-80: #8a1244;
$magenta-90: #611535;
$magenta-100: #421527;

$red-10: #faf0f0; // contrast with $black
$red-20: #fad4d4;
$red-30: #fab6b6;
$red-40: #fa8e8e;
$red-50: #f55353;
$red-60: #de1b1b; // contrast with $white
$red-70: #b80d0d;
$red-80: #8f0e0e;
$red-90: #661414;
$red-100: #451717;
