$background-color: $gray-10;
$text-color: $gray-100;
$link-color: $gray-100;
$link-hover-color: $gray-80;

$dark-mode-background-color: $gray-100;
$dark-mode-text-color: $gray-10;
$dark-mode-link-color: $gray-10;
$dark-mode-link-hover-color: $gray-30;

$font-scale-ratio: 1.2;
$default-font-size: 1rem;

$minimum-body-font-size: 1rem;
$maximum-body-font-size: 1.4rem;
$ideal-body-font-size: 4.5vw;

$default-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$default-font-variant-numeric: tabular-nums;

$default-line-height: 1.2;
$default-max-width: 60ch;

$heading-font-weight: 700;
