@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #{$text-color};
    --text-color: #{$background-color};
  }
}

.theme--dark-mode {
  --background-color: #{$text-color};
  --text-color: #{$background-color};
}

.theme--light-mode {
  --background-color: #{$background-color};
  --text-color: #{$text-color};
}
