<header class="cmp-container">
  <nav class="cmp-cluster cmp-cluster--between">
    <a href="/">
      Eleventy Starter
    </a>
    <div class="cmp-cluster">
      <a href="/docs">
        Docs
      </a>
      <a href="/contact">
        Contact
      </a>
      <a href="/blog">
        Blog
      </a>
      <a href="https://github.com/dustinwhisman/eleventy-starter">
        GitHub
      </a>
      <a href="/login" data-login-link>
        Log In
      </a>
      <a href="/account" data-account-link hidden>
        Account
      </a>
    </div>
  </nav>
</header>
