<header class="cmp-container">
  <nav class="cmp-cluster cmp-cluster--between">
    <a href="/">
      {{ i18n.t('siteName') }}
    </a>
    <div class="cmp-cluster">
      <a href="/docs">
        {{ i18n.t('docs') }}
      </a>
      <a href="/contact">
        {{ i18n.t('contact') }}
      </a>
      <a href="/blog">
        {{ i18n.t('blog') }}
      </a>
      <a href="https://github.com/dustinwhisman/eleventy-starter">
        GitHub
      </a>
    </div>
  </nav>
</header>
