---
title: Contact
description: This is where you can put contact information if you want, or you can delete the page.
layout: layouts/default.njk
---

<article class="cmp-container cmp-stack">
  <h1>
    Contact
  </h1>
  <p>
    This is a placeholder for a Contact page. Feel free to update this with any
    info that you want people to find for contacting you, or you can delete the
    page if you have no use for it.
  </p>
</article>
