input[type='checkbox'] {
  @include visually-hidden;

  + label {
    display: inline-flex;
    position: relative;
    align-items: center;
    gap: 0.5em;
    font-size: var(--font-size-sm);

    &::before {
      content: '';
      display: inline-block;
      height: 1em;
      width: 1em;
      border: 0.125em solid var(--foreground-color);
    }
  }

  &:checked + label::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0.375em;
    top: 0.45em;
    height: 0.5em;
    width: 0.25em;
    border-inline-end: 0.125em solid var(--foreground-color);
    border-block-end: 0.125em solid var(--foreground-color);
    transform: rotate(45deg);
  }
}
