---
title: Eleventy Starter
description: A starter template for getting eleventy projects running quickly.
---

<!doctype html>

<!-- TODO: allow for localization/rtl using data -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- TODO: allow for title and description to be overwritten by pages -->
    <title>{{ renderData.title or title }} | Eleventy Starter</title>
    <meta name="description" content="{{ description }}">

    <link rel="apple-touch-icon" href="/maskable_icon.png">
    <link rel="manifest" href="/manifest.json">
    <!-- TODO: add support for dark mode favicons -->
    {% include "partials/favicons.njk" %}
    <meta name="theme-color" content="#202020">

    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="cmp-spread">
      {% block header %}
        {% include "components/header.njk" %}
      {% endblock %}
      <main>
        <article class="cmp-container cmp-stack">
          <h1>
            {{ title }}
          </h1>
          <p class="util-size-sm util-font-italic">
            {{ page.date.toLocaleDateString() }}: Written by {{ author }}
          </p>
          {{ content | safe }}
        </article>
      </main>
      <footer class="cmp-container">
        <p>
          This is the footer of the website. It and the header are separated
          from the main content of the page (and from the top/bottom of the
          screen) by use of the spread component.
        </p>
      </footer>
    </div>
    <!-- TODO: add a script for toggling dark mode favicons -->
    <!-- TODO: add a block for scripts at end of body tag -->
    {% include "partials/service-worker.njk" %}
  </body>
</html>
