<!doctype html>

<html lang="{{ i18n.lang or 'en' }}" dir="{{ i18n.dir or 'ltr' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block titleAndDescription %}
      <title>{{ renderData.title or title }} | Eleventy Starter</title>
      <meta name="description" content="{{ description }}">
    {% endblock %}

    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#202020">
    {% include "partials/icons.njk" %}

    {% block vendorStyles %}{% endblock %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block pageStyles %}{% endblock %}
  </head>
  <body>
    <div class="cmp-spread">
      {% block header %}
        {% include "components/header.njk" %}
      {% endblock %}
      {% block content %}
        <main>
          {{ content | safe }}
        </main>
      {% endblock %}
      {% block footer %}
        <footer class="cmp-container">
          <p>
            {{ i18n.t('footer') }}
          </p>
        </footer>
      {% endblock %}
    </div>
    {% include "partials/dark-mode-favicon.njk" %}
    {% block scripts %}{% endblock scripts %}
    {% include "partials/service-worker.njk" %}
  </body>
</html>
