<!doctype html>

<!-- TODO: allow for localization/rtl using data -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block titleAndDescription %}
      <title>{{ renderData.title or title }} | Eleventy Starter</title>
      <meta name="description" content="{{ description }}">
    {% endblock %}

    <link rel="apple-touch-icon" href="/maskable_icon.png">
    <link rel="manifest" href="/manifest.json">
    <!-- TODO: add support for dark mode favicons -->
    {% include "partials/favicons.njk" %}
    <meta name="theme-color" content="#202020">

    {% block vendorStyles %}{% endblock %}
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% block pageStyles %}{% endblock %}
  </head>
  <body>
    <div class="cmp-spread">
      {% block header %}
        {% include "components/header.njk" %}
      {% endblock %}
      {% block content %}
        <main>
          {{ content | safe }}
        </main>
      {% endblock %}
      {% block footer %}
        <footer class="cmp-container">
          <p>
            This is the footer of the website. It and the header are separated
            from the main content of the page (and from the top/bottom of the
            screen) by use of the spread component.
          </p>
        </footer>
      {% endblock %}
    </div>
    <!-- TODO: add a script for toggling dark mode favicons -->
    {% block scripts %}{% endblock scripts %}
    {% include "partials/service-worker.njk" %}
  </body>
</html>
