---
title: Hello World
description: This is your basic hello world page that doesn't do anything.
layout: layouts/default.njk
---

<article class="cmp--container">
  <div class="cmp--stack">
    <h1>
      This is an h1.
    </h1>

    <p>
      This page is wrapped in an article element, which is using the container
      component to center everything. It sets a max width and uses auto margins
      to keep everything in the middle.
    </p>

    <h2>
      This is an h2.
    </h2>

    <p>
      This whole page is wrapped in a stack component, which establishes a
      vertical rhythm for its child elements.
    </p>

    <h3>
      This is an h3.
    </h3>

    <p>
      There is extra space added above heading elements in order to make it
      clear that a new section has started.
    </p>

    <h4>
      This is an h4.
    </h4>

    <h5>
      This is an h5.
    </h5>

    <h6>
      This is an h6.
    </h6>

    <p>
      This is a paragraph. It is capped at a max width defined in the theme of
      your site. Most things will adhere to the same max width, but paragraphs
      are one of the more likely tags to surpass that limit.
    </p>

    <p>
      Since this is a new paragraph and it's still in the stack component, there
      will be a separation between the two paragraphs. A margin is added to to
      the top of all but the first child elements of the stack.
    </p>

    <p>
      This is an unordered list.
    </p>
    <ul>
      <li>
        Here's an item.
      </li>
      <li>
        Here's another item.
      </li>
      <li>
        Here's a third item that has loads of extra text that will make it wrap
        once it passes its max width.
      </li>
    </ul>

    <p>
      This is an ordered list.
    </p>
    <ol>
      <li>
        Here's item #1.
      </li>
      <li>
        Here's item #2.
      </li>
      <li>
        Here's item #3, which has a bunch of text that will make it wrap once it
        passes its max width.
      </li>
    </ol>
  </div>
</article>
